.movieCard {
    width: 180px;
    height: 360px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.movieImg {
    width: 100%;
    height: 270px;
    background-color: rgb(66, 49, 28);
    border-radius: 10px;
}

.movieTitle {
    color: white;
    font-size: 18px;
    min-height: 30px;
}

.movieRating {
    color: white;
    font-size: 18px;
}
