.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
.modal-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: white;
    padding: 40px 16px;
}
.modal-content-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: white;
    padding: 40px 16px;
}

.modal-movie-img{
    height: 100px;
    width: 100px;
}

.modal-content-box *{
    margin-bottom: 32px;
}

.result-table{
    min-width: 320px;
    padding: 8px;
    margin-bottom: 32px;
}
 
.modal-close-x{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    font-weight: 700;
}