
.searchbox{
    float: right;
    background-color: white;
    width: 320px;
    height: 42px;
    margin-right: 30px;
    border-radius:10px;
}

.searchinput{
    height: 42px;
    border-radius:10px;
    border: 0px;
    padding: 0px;
    width: calc(100% - 50px);
    font-size: 20px;
}

.searchtogglebutton{
    display: none;
}

.searchbutton {
    border: 0;
    width: 18px;
    height: 18px;
}

/* 모바일 */
@media (max-width: 768px) {
    .searchtogglebutton{
        display: flex;
        float: right;
        background-color: white;
        border-radius: 30px;
    }
    .searchbox{
        position: fixed;
        top:60px;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
    }
}