html,body{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#root{
    width: 100%;
    height: 100%;
}

.movie-detail{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}