.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.modal-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    width: 830px;
    text-align: center;
    border-bottom: 1px solid #F1F1F140;
    height: 60px; 
}


.modal-content-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: white;
    padding: 0px 30px 30px 30px;
    background-color: #212122;
    color: white;
    width: 830px;
}

.modal-movie-main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.modal-movie-detailbox{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.modal-movie-img{
    position: relative;
    width: 292px;
    height: 433px;
}

.modal-close-x{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    font-weight: 700;
}