.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.modal-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    width: 830px;
    text-align: center;
    border-bottom: 1px solid #F1F1F140;
    height: 60px; 
    margin-bottom: 30px;
}


.modal-content-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: white;
    padding: 0px 30px 30px 30px;
    background-color: #212122;
    color: white;
    width: 830px;
}

.modal-movie-main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.modal-movie-detailbox{
    height: 433px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.modal-movie-genre{
    margin-bottom: 30px;
}

.modal-movie-img{
    position: relative;
    width: 292px;
    height: 433px;
}

.modal-close-x{
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.modal-vote-box{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383839;
    border-radius: 20px;
    width: 100%;
    height: 64px;
}