.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalbackground{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.modalheader{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #F1F1F140;
    height: 60px; 
    margin-bottom: 30px;
}


.modalcontentbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: white;
    padding: 0px 30px 30px 30px;
    background-color: #212122;
    color: white;
    width: 830px;
}

.modalmoviemain{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.modalmoviedetailbox{
    height: 433px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.modalmoviedescription{
    overflow: auto;
    height: 280px;
}

.modalmoviegenre{
    margin-bottom: 30px;
}

.modalmovieimg{
    position: relative;
    width: 292px;
    height: 433px;
}

.modalclosex{
    display: flex;
    position: absolute;
    right: 10px;
    font-size: 20px;
    font-weight: 700;
}

.modalvotebox{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383839;
    border-radius: 20px;
    width: 100%;
    height: 64px;
}

/* 모바일 (화면 너비 600px 이하) */
@media (max-width: 600px) {
    .modalcontentbox{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .modalmovieimg{
        height: 0px;
    }
}

/* 테블릿 (화면 너비 601px ~ 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .modalcontentbox{
        width: 740px;
    }
    .modalmovieimg{
        height: 400px;
    }
}